<form style="overflow: auto">
    <h3><%= cnt.name + ' ' + cnt.lastname %></h3>
    <% arr.forEach(function(obj, ind) { %>
        <h2
        <% if(obj.correct === cnt.answers[ind]){ %>
            style="color: yellow"
        <% }else{ %>
            style="color: blue"
                <% } %>
        ><%= obj.text %></h2>
        <span>
        <input type="radio" id="a" <%= 'name="ff' + ind + '"' %>  value="a"
        <% if('a' === cnt.answers[ind]){ %>
               checked
                <% } %>
        >
                <span
                <% if('a' === cnt.answers[ind]){ %>
                    <% if('a' !== obj.correct){ %>
                        style="color: blue"
                            <% } %>
                        <% } %>
                <% if('a' === obj.correct){ %>
                        style="color: yellow"
                        <% } %>
                ><%= obj.A %></span>
    </span><br>
        <span>
        <input type="radio" id="b" <%= 'name="ff' + ind + '"' %> value="b"
        <% if('b' === cnt.answers[ind]){ %>
               checked
                <% } %>
        >
                <span
                <% if('b' === cnt.answers[ind]){ %>
                    <% if('b' !== obj.correct){ %>
                        style="color: blue"
                            <% } %>
                        <% } %>
                <% if('b' === obj.correct){ %>
                        style="color: yellow"
                        <% } %>
                ><%= obj.b %></span>
    </span><br>
        <span>
        <input type="radio" id="c" <%= 'name="ff' + ind + '"' %> value="c"
        <% if('c' === cnt.answers[ind]){ %>
               checked
                <% } %>
        >
            <span
            <% if('c' === cnt.answers[ind]){ %>
                <% if('c' !== obj.correct){ %>
                    style="color: blue"
                        <% } %>
                    <% } %>
            <% if('c' === obj.correct){ %>
                    style="color: yellow"
                    <% } %>
            ><%= obj.c %></span>
    </span><br>
        <span>
        <input type="radio" id="d" <%= 'name="ff' + ind + '"' %> value="d"
        <% if('d' === cnt.answers[ind]){ %>
               checked
                <% } %>
        >
            <span
            <% if('d' === cnt.answers[ind]){ %>
                <% if('d' !== obj.correct){ %>
                    style="color: blue"
                        <% } %>
                    <% } %>
            <% if('d' === obj.correct){ %>
                    style="color: yellow"
                    <% } %>
            ><%= obj.d %></span>
    </span>
        <hr>
    <% }); %>
    <p>
        <%= "Total: " + cnt.total + " Correct: " + cnt.result %>
    </p>
</form>
