<form action="/" method="post">
    <h2><%= obj.text %></h2>
    <span>
        <input type="radio" id="a" name="answer" value="a"> <%= obj.A %>
    </span><br>
    <span>
        <input type="radio" id="b" name="answer" value="b"><%= obj.b %>
    </span><br>
    <span>
        <input type="radio" id="c" name="answer" value="c"><%= obj.c %>
    </span><br>
    <span>
        <input type="radio" id="d" name="answer" value="d"><%= obj.d %>
    </span>
            <br><br>
        <input type="submit" value="NEXT!">
</form>